<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resolv Leaderboard</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Resolv Leaderboard</h1>
    <form action="/search" method="post">
        <input type="text" name="walletAddress" placeholder="Enter Wallet Address" required>
        <button type="submit">Check Points</button>
    </form>
    <div class="nft-rarity-section">
        <button onclick="window.location.href='/nft-rarity'">Check NFT Rarity</button>
    </div>
    <div class="footer">
        <p>Created with 💗 by <a href="https://x.com/Magicianafk" target="_blank">@Magicianafk</a></p>
    </div>
</body>
</html>
